<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutoMoq" version="2.0.0" targetFramework="net47" />
  <package id="Castle.Core" version="4.2.1" targetFramework="net47" />
  <package id="CommandLineParser" version="2.2.1" targetFramework="net47" />
  <package id="CommonServiceLocator" version="2.0.3" targetFramework="net47" />
  <package id="FluentAssertions" version="5.2.0" targetFramework="net47" />
  <package id="Moq" version="4.8.2" targetFramework="net47" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net471" />
  <package id="NLog" version="4.5.2" targetFramework="net471" />
  <package id="NUnit" version="3.10.1" targetFramework="net47" />
  <package id="SharpCompress" version="0.20.0" targetFramework="net47" />
  <package id="System.Collections" version="4.3.0" targetFramework="net47" />
  <package id="System.Console" version="4.3.0" targetFramework="net47" />
  <package id="System.Diagnostics.Debug" version="4.3.0" targetFramework="net47" />
  <package id="System.Globalization" version="4.3.0" targetFramework="net47" />
  <package id="System.IO" version="4.3.0" targetFramework="net47" />
  <package id="System.Linq" version="4.3.0" targetFramework="net47" />
  <package id="System.Linq.Expressions" version="4.3.0" targetFramework="net47" />
  <package id="System.Reflection" version="4.3.0" targetFramework="net47" />
  <package id="System.Reflection.Extensions" version="4.3.0" targetFramework="net47" />
  <package id="System.Reflection.TypeExtensions" version="4.4.0" targetFramework="net47" />
  <package id="System.Resources.ResourceManager" version="4.3.0" targetFramework="net47" />
  <package id="System.Runtime" version="4.3.0" targetFramework="net47" />
  <package id="System.Runtime.Extensions" version="4.3.0" targetFramework="net47" />
  <package id="System.Threading.Tasks.Extensions" version="4.4.0" targetFramework="net47" />
  <package id="System.ValueTuple" version="4.4.0" targetFramework="net47" />
  <package id="Unity" version="4.0.1" targetFramework="net47" />
  <package id="YamlDotNet" version="4.3.1" targetFramework="net47" />
</packages>