<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CommandLineParser19" version="1.9.74" targetFramework="net35-Client" />
  <package id="NLog" version="4.4.12" targetFramework="net35-client" />
  <package id="SharpCompress" version="0.19.2" targetFramework="net35-client" />
  <package id="TinyIoC" version="1.3" targetFramework="net35-client" developmentDependency="true" />
  <package id="YamlDotNet" version="4.3.0" targetFramework="net35-client" />
</packages>