<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CommandLineParser19" version="1.9.74" targetFramework="net35-Client" />
  <package id="NLog" version="3.1.0.0" targetFramework="net35-Client" />
  <package id="sharpcompress" version="0.8.2" targetFramework="net35-Client" />
  <package id="TinyIoC" version="1.2" targetFramework="net35-Client" />
  <package id="YamlDotNet" version="3.3.1" targetFramework="net35-Client" />
</packages>